<div class="detailCard">
    <div>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2{{films.poster_path}}" class="card-img-top" alt="...">
    </div>
    <div>
        <h4 class="card-title">{{films.title}}</h4>

        <p class="card-text">
            Overview: {{films.overview}}<br><br>
            Duration: {{films.runtime}} min<br>
            Release date: {{films.release_date}}<br>
            ID: {{films.id}}<br>
        </p>

        <button routerLink="/films">Volver</button>
    </div>
</div>